.mobile-container{
    width: 320px;
    margin: 0 auto;
}
.collapse-item {
    &__title {
        text-align: center;
        background-color: #eeeff2;
        padding-top: 5px;
        padding-bottom: 5px;
        &:hover{
            cursor: pointer;
        }
         &:after{
            content: '';
            background-image: url(../images/src/down-arrow.svg);
            width: 12px;
            height: 12px;
            display: inline-block;
            margin: 0px 0px -1px 4px;
            transition: 0.5s;
         }

        .is-opened &:after {
            transform: rotate(-90deg);
            margin: 0px 0px -1px 4px;
            
        }
    }
    &__content {
        display: none;
        

        .is-opened & {
            display: block;
        }
    }
    &__location{
        padding-top: 5px;
        padding-bottom: 5px;
        &:before{
            content: '';
            background-image: url(../images/src/pin.svg);
            width: 9px;
            height: 12px;
            display: inline-block;
            margin: 0px 0px 0px 0px
         }
    }
    &__map{
        height: 310px;
        width: 310px;
        margin: 0 auto;
        margin-bottom: 10px;       
        box-shadow: -8px 0px 7px #888888;    
    }
    &__content {
        text-align: center;
    }
    &__work {
        &:before{
            content: '';
            background-image: url(../images/src/calendar.svg);
            width: 15px;
            height: 15px;
            display: inline-block;
            margin: 0px 6px 0px 0px
        }
    }
    &__phone{
        &:before{
            content: '';
            background-image: url(../images/src/telephone.svg);
            background-size: 15px;
            width: 15px;
            height: 15px;
            display: inline-block;
            margin: 0px 0px 0px 0px
        }
    }
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    a {
        
       
        color: #333333;        
        border-bottom: 1px solid #333333;
        text-decoration: none;
    }
    &__site{
        &:before{
            content: '';
            background-image: url(../images/src/www.svg);
            background-size: 15px;
            width: 15px;
            height: 15px;
            display: inline-block;
            margin: 0px 0px 0px 0px
        }
    }
}
@media only screen and (min-width: 480px) {
    .mobile-container{
        width: auto;
    }
    .collapse-item {
        &__title {
            font-size: 20px;
        }
        &__location{
            font-size: 18px;
        }
        &__map{
            width: 100%;
            height: 400px;
            margin-right: 10px;
        }
        }
    
}
@media only screen and (min-width: 768px) {
    .collapse-item {
        &__title {
            font-size: 24px;
        }
        &__location{
            font-size: 20px;
        } 
        &__map{
            height: 600px;
        }
        &__phone{
            font-size: 18px;
            font-weight: bold;
        }
        &__container{
            display: block; 
        }
        a {
                margin-left: 10px;
                margin-right: 10px;
        }
    }    
}
@media only screen and (min-width: 992px) {
    .collapse-item {
        &__map{
            height: 700px;
        }
    }
}